.rightblock_AvailableTime{
    margin: 0px;
    margin-left: 276px;
    width: 1275px;
    height: 721px;
    position: absolute;
    background-color: #2F4050;
    /* background-color: cornflowerblue; */
    /* width: 500em;
    height: 58em; */
    /* background-color: burlywood; */

}

.blockwhite_AvailableTime{
    height: 693px; 
    display: block;
    width: 1247px;
    background-color: white;
    /* background-color: aqua; */
    margin-left: 14px;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-right: 14px;
    position: absolute;
    border-radius: 25px;
    /* scroll-behavior: smooth; */
    display: block;
    overflow-y: auto;
    white-space: nowrap;
}
.Topname_AvailableTime{
    margin-top: 28px;
    margin-left: 48px;
    font-family: SF Pro Display;
    font-size: 32px;
    font-weight: bold;
    color: #2F4050;
}

hr.hr-AvailableTime{
    /* color: #134F71; */
    /* justify-items: center; */
    width: 1151px;
    margin-top: 12px;
    border-top: 1px solid rgba(229, 229, 229, 1);
    margin-bottom: 0px;
    margin-left: 48px;
}

div.examday{
    margin-top: 10px;
    margin-left: 48px;
    border: 1px solid  rgba(19, 79, 113, 0.35);  
    background-color:  #F3F9FC; 
    border-radius: 10px;
    /* display: inline-block; */
    width: 500px;
    height: 40px;
    justify-content: center;
}

span.examdate1{
    margin-left: 20px;
    font-size: 12px;
    width: 100px;
    /* background-color: aqua; */
    /* vertical-align: middle; */
}

label.test1{
    margin-left: 50px;
    height: 40px;
    font-size: 14px;
}

.formexam{
    margin-top: 20px;
}

button.button000 {
    margin-Left: 48px;
    margin-Top: 40px;
    margin-Bottom: 20px;
}
button.button456 {
    margin-Bottom: 20px;
    margin-Top: 40px;
    margin-left: 10px;
}

.topictime{
    margin-top: 20px;
    margin-left: 48px;
}
