.rightblockcreate{
    margin: 0px;
    margin-left: 276px;
    width: 1275px;
    height: 721px;
    position: absolute;
    background-color: #2F4050;
    /* background-color: cornflowerblue; */
    /* width: 500em;
    height: 58em; */
    /* background-color: burlywood; */

}

.blockwhitecreate{
    height: 693px; 
    display: block;
    width: 1247px;
    background-color: white;
    /* background-color: aqua; */
    margin-left: 14px;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-right: 14px;
    position: absolute;
    border-radius: 25px;
    /* scroll-behavior: smooth; */
    display: block;
    overflow-y: auto;
    white-space: nowrap;
}
.TopnameCreate{
    margin-top: 28px;
    margin-left: 48px;
    font-family: SF Pro Display;
    font-size: 32px;
    font-weight: bold;
    color: #2F4050;
}
.GroupName{
    margin-left: 48px;
    margin-top: 50px;
}

.fieldgroupname{
    margin-left: 40px;
}

.Add-Member{
    margin-left: 48px;
    margin-top: 50px;
}

.fieldmember{
    margin-left: 40px;
}

.Add-Advisor{
    margin-left: 48px;
    margin-top: 50px;
}

.btn-create{
    padding-left: 48px;
}
.formcreate{
    padding-top: 50px;
    padding-left: 100px;
}

.Member{
    padding-top: 50px;
}

.Advistor{
    padding-top: 50px;
}


.form{
    padding-top: 100px;
}

hr.hr-create{
    /* color: #134F71; */
    /* justify-items: center; */
    width: 1151px;
    margin-top: 12px;
    border-top: 1px solid rgba(229, 229, 229, 1);
    margin-bottom: 0px;
    margin-left: 48px;
}

button.buttonadd{
    margin-left: 50px;
    margin-top: 50px;
}

button.buttoncancel{
    margin-top: 50px;
    margin-left: 10px;
}