.rightblockcreate{
    margin: 0px;
    margin-left: 276px;
    width: 1260px;
    height: 721px;
    position: absolute;
    /* background-color: #2F4050; */
    /* background-color: cornflowerblue; */
    /* width: 500em;
    height: 58em; */
    /* background-color: burlywood; */
   
}
.Topname{
    margin-top: 48px;
    margin-left: 48px;
    font-family: SF Pro Display;
    font-size: 36px;
    font-weight: bold;
    color: #2F4050;
}
.GroupName{
    margin-left: 48px;
    margin-top: 50px;
}

.fieldgroupname{
    margin-left: 40px;
}

.Add-Member{
    margin-left: 48px;
    margin-top: 50px;
}

.fieldmember{
    margin-left: 40px;
}

.Add-Advisor{
    margin-left: 48px;
    margin-top: 50px;
}

.btn-create{
    padding-left: 48px;
}
.formcreate{
    padding-top: 50px;
    padding-left: 100px;
}

.Member{
    padding-top: 50px;
}

.Advistor{
    padding-top: 50px;
}


.form{
    padding-top: 100px;
}

.blockcreate{
    margin-top: 154px;
}

.text-page{
    font-family: Arial, Helvetica, sans-serif;
    color: #95806E;
    font-weight: bolder;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    margin-left: 20px;
}
.text-form{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.input-group{
    margin-bottom: 20px;
}




.text-page{
    font-family: Arial, Helvetica, sans-serif;
    color: #95806E;
    font-weight: bolder;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    margin-left: 20px;
}
.text-form{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.input-group{
    margin-bottom: 20px;
}

.button-submit{
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    background-color: #95806E;
    border-color:#746354;
    border-width: 0.5px;
    margin-top: 10px;
    margin-left: 60px;
}

.button-submit:hover,.button-submit:focus,.button-submit.focus{
    font-family: Arial, Helvetica, sans-serif;
    color:#fff;/*สีตัวหนังสือในปุ่ม*/
    background:#c5ab95;/*พื้นหลังปุ่ม*/
    border-color:#746354;/*เส้นขอบปุ่ม*/
    border-width: 0.5px;/*ขนาดของเส้นขอบปุ่ม*/
    }

.text-showpic{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2,h4,.input-group-text,.input-group,.custom-file-label,.text-fill {
    font-family: Arial, Helvetica, sans-serif;
/*     color: #95806E; */
}