.rightblock_Schedule{
    margin: 0px;
    margin-left: 276px;
    width: 1275px;
    height: 721px;
    position: absolute;
    background-color: #2F4050;
    /* background-color: cornflowerblue; */
    /* width: 500em;
    height: 58em; */
    /* background-color: burlywood; */

}

.blockwhite_Schedule{
    height: 693px; 
    display: block;
    width: 1247px;
    background-color: white;
    /* background-color: aqua; */
    margin-left: 14px;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-right: 14px;
    position: absolute;
    border-radius: 25px;
    /* scroll-behavior: smooth; */
    display: block;
    overflow-y: auto;
    white-space: nowrap;
}
.Topname_Schedule{
    margin-top: 28px;
    margin-left: 48px;
    font-family: SF Pro Display;
    font-size: 32px;
    font-weight: bold;
    color: #2F4050;
}

hr.hr-Schedule{
    /* color: #134F71; */
    /* justify-items: center; */
    width: 1151px;
    margin-top: 12px;
    border-top: 1px solid rgba(229, 229, 229, 1);
    margin-bottom: 0px;
    margin-left: 48px;
}

.MuiDateRangePickerInput-root {
    justify-content: center;
    margin-top: 50px;
}

button.buttonslot1 , button.buttonslot2 ,button.buttonslot3{
    margin-left: 48px;
    /* margin-top: 50px; */
    font-size: 18px;
    
}

button.buttonslot4 , button.buttonslot5 ,button.buttonslot6{
    margin-left: 48px;
    font-size: 18px;
     margin-top: 50px;
    
}

.slottop.row{
    margin-right: 0px; 
    margin-left: 0px;
    width: 100px; 
    height: 0px;
    margin-top: 50px;
    /* justify-content: center; */
}

.slotbottom.row{
    margin-right: 0px; 
    margin-left: 0px;
    width: 0px; 
    height: 0px;
    
    /* margin-top: 50px; */
}
