
body{
    margin: 0px;
    padding: 0px;
}

.row {
    width: 100%;
    height: 100%;
    /* margin-right: 0px;
    margin-left: 0px; */
    
}


.rightblockhome{
    margin: 0px;
    margin-left: 276px;
    width: 1275px;
    height: 721px;
    position: absolute;
    background-color: #2F4050;
    /* background-color: cornflowerblue; */
    /* width: 500em;
    height: 58em; */
    /* background-color: burlywood; */
   
}



.homesidebar.col{
    display: flex;
    flex-wrap: wrap;
    width: 276px;
}

.homeblock.col{
    width: 100%;
    height: 100%;
}


.blockwhitehome{
    height: 693px; 
    display: block;
    width: 1219px;
    background-color: white;
    /* background-color: aqua; */
    margin-left: 42px;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-right: 14px;
    position: absolute;
    border-radius: 25px;
    
    
}

.block1{
    margin-top: 20px;
    margin-left: 48px;
}

.hello{
    font-size: 40px;
    width: 249px;
    height: 53px;
    color: #293846;
    /* margin-left: 48px; */
    /* margin-top: 28px; */
    font-weight: bold;
    font-family: SF Pro Display;
}

.welcome{
    font-size: 24px;
    width: 192px;
    height: 36px;
    color: #ADADAD;
    font-family: SF Pro Display;
}

.block2{
    margin-top: -15px;
    margin-left: 48px;
}

.block3{
    margin-top: 50px;
    margin-left: 48px;
    color: #134F71;
    font-size: 30px;
    font-weight: bold;
    font-family: SF Pro Display;
}



div.a {
    display: inline-block;
    /* width: 895px; */
    width: 800px;
    height: 284px;
    background-color:  #F3F9FC; 
    border-radius: 25px;
    margin-left: 48px;
    margin-top: 10px;
}

div.b {
    display: inline-block;
    width: 320px;
    height: 250px;
    /* border: 1px solid #134F71;     */
    background-color:  #F3F9FC; 
    border-radius: 25px;
    margin-right: 30px;
    margin-top: 47px;
    margin-left: 20px;
}

.cs{
    padding-top: 15px;
    padding-left: 26px;
    color: #134F71;
    font-weight: bold;
    font-size: 36px;
    font-family: SF Pro Display;
}

.cs1, .cs2, .cs3{
    padding-top: 4px;
    padding-left: 28px;
    color: #000000;
    font-weight: bold;
    font-size: 15px;
    font-family: SF Pro Display;
}

.cs1-1 , .cs2-1 , .cs3-1 , .cs3-2{
    margin-left: 12px;
    /* margin-top: 2px; */
    color: #000000;
    font-weight: normal;
}
.pdf1{
    top: 2px;
    position: relative;
    left: 80px;
}