
body{
    margin: 0px;
    padding: 0px;
}

.row {
    width: 100%;
    height: 100%;
    /* margin-right: 0px;
    margin-left: 0px; */
    
}


.rightblockhome{
    margin: 0px;
    margin-left: 276px;
    width: 1275px;
    height: 721px;
    position: absolute;
    background-color: #2F4050;
    /* background-color: cornflowerblue; */
    /* width: 500em;
    height: 58em; */
    /* background-color: burlywood; */
   
}



.homesidebar.col{
    display: flex;
    flex-wrap: wrap;
    width: 276px;
}

.homeblock.col{
    width: 100%;
    height: 100%;
}


.blockwhitehome{
    height: 693px; 
    display: block;
    width: 1247px;
    background-color: white;
    /* background-color: aqua; */
    margin-left: 14px;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-right: 14px;
    position: absolute;
    border-radius: 25px;
}

.paragraph2.row{
    margin-left: 0px;
    margin-right: 0px;
    width: fit-content;
    height: fit-content;
}
.blockdetail{
    width: 650px;
    height: 693px;
}
.block1{
    margin-top: 20px;
    margin-left: 32px;
    /* background-color: aqua; */
    width: fit-content;
}

.block123.row{
    margin-top: 33px;
    /* background-color: aqua; */
    /* width: fit-content; */
    width: 346px;
    margin-left: 18px;
    height: 40px;
}


.hello{
    font-size: 40px;
    /* width: 249px; */
    height: 53px;
    color: #134F71;
    /* margin-left: 48px; */
    /* margin-top: 28px; */
    font-weight: bold;
    font-family: SF Pro Display;
    /* width: fit-content; */
    /* display: flex;   */
  /* flex-wrap: wrap; */
  /* background-color: brown; */
  width: fit-content;
  
}

.search{
    width: fit-content;
    margin-left: 102px;
    vertical-align:middle;
    color: #134F71;
}

.search_t{
    width: fit-content;
    margin-left: 20px;
    vertical-align:middle;
    color: #134F71;
}
.stuname{
    font-size: 18px;
    color: #134F71;
    font-weight: bold;
    font-family: SF Pro Display;
    /* margin-left: 10px; */
    padding-left: 18px;
    /* text-align: center; */
    vertical-align:middle;
    
}

.welcome{
    font-size: 24px;
    width: 192px;
    height: 36px;
    color: #ADADAD;
    font-family: SF Pro Display;
}

.block2{
    margin-top: -10px;
    margin-left: 32px;
    width: fit-content;
    /* background-color: brown; */
}

.block3{
    margin-top: 50px;
    margin-left: 48px;
    color: #134F71;
    font-size: 30px;
    font-weight: bold;
    font-family: SF Pro Display;
}



div.a {
    display: inline-block;
    /* width: 895px; */
    width: 800px;
    height: 274px;
    background-color:  #F3F9FC; 
    border-radius: 10px;
    margin-left: 32px;
    margin-top: 10px;
}

div.b {
    display: inline-block;
    width: 346px;
    height: 274px;
    border: 1px solid  rgba(19, 79, 113, 0.35);  
    background-color:  #F3F9FC; 
    border-radius: 10px;
    margin-right: 32px;
    margin-top: 54px;
    margin-left: 18px;
    /* opacity: 0.35; */
    
}

.cs{
    padding-top: 10px;
    padding-left: 26px;
    color: #134F71;
    font-weight: bold;
    font-size: 30px;
    font-family: SF Pro Display;
    width: fit-content;
}

.form-home{
    margin-top: 20px;
    margin-left: 64px;
    color: #134F71;
    font-weight: bold;
    font-size: 20px;
    font-family: SF Pro Display;
    width: fit-content;
}

.cs1, .cs2, .cs3{
    padding-top: 0px;
    padding-left: 26px;
    color: #000000;
    font-weight: bold;
    font-size: 14px;
    font-family: SF Pro Display;
}

.cs1-1 , .cs2-1 , .cs3-1 , .cs3-2{
    margin-left: 10px;
    /* margin-top: 2px; */
    color: #000000;
    font-weight: normal;
    margin-right: 26px;
}

.pichome{
    width: 40px;
    height: 40px;
    margin-left: 18px;
    border-radius: 50px;
}

.pdf.row {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
}

.pdf2.row ,.pdf4.row {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 18px;
}

.pdf3.row{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
}
.pdf1-1 , .pdf2-1{
    margin-left: 64px;
    color: #134F71;
}
.pdf1-2 , .pdf2-2{
    color: #134F71;
    /* font-weight: bold; */
    font-size: 14px;
    font-family: SF Pro Display;
    margin-left: 18px;
}

.pdf3-2{
    color: #134F71;
    /* font-weight: bold; */
    font-size: 14px;
    font-family: SF Pro Display;
    margin-left: 18px;
}
.pdf3-3{
    margin-left: 100px;
    margin-top: 0px;
    vertical-align:middle;
    color: #ADADAD;
    /* font-weight: bold; */
    font-size: 14px;
    font-family: SF Pro Display;
}

hr.hr-pdf{
    /* color: #134F71; */
    /* justify-items: center; */
    width: 764px;
    margin-top: 20px;
    border-top: 1px solid rgba(19, 79, 113, 0.3);
    margin-bottom: 0px;
    margin-left: 64px;
}

.noti-home{
    margin-top: 20px;
    margin-left: 26px;
    color: #134F71;
    font-weight: bold;
    font-size: 30px;
    font-family: SF Pro Display;
    width: fit-content;
}

div.c {
    display: inline-block;
    width: 346px;
    height: 80px;
    /* border: 1px solid  rgba(19, 79, 113, 0.35);   */
    background-color:  #F3F9FC; 
    border-radius: 10px;
    margin-right: 32px;
    margin-top: 0px;
    margin-left: 18px;
    /* opacity: 0.35; */
    vertical-align:middle;
    
}

p.noti1{
    margin-top: 12px;
    margin-left: 24px;
    color: #134F71;
    font-weight: bold;
    font-size: 12px;
    font-family: SF Pro Display;
    margin-bottom: 0px;
    
}

.fa-calendar{
    margin-left: 24px;
}

.fa-clock-o{
    margin-left: 24px;
}

.noti2{
    margin-top: 4px;
    font-family: SF Pro Display;
    font-size: 10px;
    color: #404040;
    margin-left: 12px;
    margin-bottom: 0px;
    font-weight: 600;
}

.noti3{
    margin-top: 4px;
    margin-left: 12px;
    font-family: SF Pro Display;
    font-size: 10px;
    color: #404040;
    /* margin-left: 24px; */
    font-weight: 600;
}

.noti1-1{
    margin-top: 4px;
}

div.d{
    display: inline-block;
    width: 346px;
    height: 80px;
    /* border: 1px solid  rgba(19, 79, 113, 0.35);   */
    background-color:  #F3F9FC; 
    border-radius: 10px;
    margin-right: 32px;
    margin-top: 8px;
    margin-left: 18px;
    /* opacity: 0.35; */
    
}