html , body , #root , .Login , .landing{
    width: 100vw;
    height: 100vh;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
  }
  
  .left.col , .right.col{
    width: 50%;
    height: 100%;
  }

  
  
  .col {
    flex-basis: 0;
    flex-grow: 1;
    padding-right: 15px;
    padding-left: 15px;
    
  }
  
  img{
    top: 337px;
    left: 215px;
    bottom: 337px;
    /*width: 745px;*/
    /*height: 406px;*/
    
  }
  .loginrightblock {
    width: 724px;
    height: 515px;
    position: center;
  }
  
  .center {
    display: block;
    margin-top: 337px;
    width: 745px;
    height: 406px;
    margin-left: 200px;
  }
  
  
  
  .topic1 {
    width: 724.00px;
      height: 72px;
      left: 1106px;
    text-align: center;
    font-family: SF Pro Display;
    font-weight: bold;
    font-size: 60px;
    color: #134F71;
    padding-top: 200px;
    padding-left: 220px;
      
  }
  
  form{
   padding-top: 120px;
   display: inline-block;
   padding-left: 260px;
  }
  
  .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    /* border-radius: 0; */
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    
  }
  
  .labelname {
    font-size: 28px;
    color: #134F71;
    font-family: SF Pro Display;
    font-weight: medium;
    
  }
  
  input#formBasicUsername {
    font-size: 24px;
    width: 428px;
    height: 55px;
    
  }
  
  .labelpassword {
    font-size: 28px;
    color: #134F71;
    font-family: SF Pro Display;
    font-weight: medium;
    
  }
  
  input#formBasicPassword {
    font-size: 24px;
    width: 428px;
    height: 55px;
    
  }
  
  input[type="radio"], input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
    width: 28px;
    height: 28px;
  }
  
  .labelcheck{
    
    font-size: 28px;
    color: #134F71;
    margin-top: 47px;
  }
  label.form-check-label {
    padding-left: 20px;
  }
  
  button.btn.btn-primary {
    font-size: 24px;
    /*width: 434px;*/
    /*height: 73px;*/
  }
  
  .btnLogin{
    
    margin-top: 52px;
    width: 328px;
    height: 72px;
    margin-left: 50px;
  }