@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  }

label {
  font-size: .7rem;
}

input.form-control, input.form-control:focus {
  background: #F0F0FF;
}

.error {
  position: absolute;
  color: red;
  font-size: .6rem;
  margin-top: 4px;
}

.btn-primary{
  margin-top: 30px;
}

.btn-danger{
  margin-top: 30px;
}

.img-fluid{
  width: 635px;
  height: 435.438px;

}

.aa{
  /* my-4 font-weight-bold .display-4 */
  margin-top: 50px;
}

.firstfield{
  margin-top: 30px;
}