.rightblocknoti{
    margin: 0px;
    margin-left: 276px;
    width: 1260px;
    height: 721px;
    position: absolute;
    /* background-color: #2F4050; */
    /* background-color: cornflowerblue; */
    /* width: 500em;
    height: 58em; */
    /* background-color: burlywood; */
   
}