.rightblockproject{
    margin: 0px;
    margin-left: 276px;
    width: 1275px;
    height: 721px;
    position: absolute;
    background-color: #2F4050;
    /* background-color: cornflowerblue; */
    /* width: 500em;
    height: 58em; */
    /* background-color: burlywood; */
   
}

.blockwhiteproject{
    height: 693px; 
    display: block;
    width: 1219px;
    background-color: white;
    /* background-color: aqua; */
    margin-left: 42px;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-right: 14px;
    position: absolute;
    border-radius: 25px;
}
.projectlist{
    margin-left: 48px;
    margin-top: 150px;
    font-family: SF Pro Display;
    font-size: 36px;
    font-weight: bold;
    color: #2F4050;
}

.d-flex{
    margin-left: 24px;
    margin-top: 20px;
}

.groupnamelist{
    font-size: 24px;
    font-family: SF Pro Display;
    text-align: left;
}

.btn-list{
     float: right;
}
.btn-warning{
    margin-left: 30px;
    
}

.btn-danger{
    margin-left: 4px;
   
}

.btn-delete{
    margin-left: 4px;
    margin-top: 0px;
}
