.rightblocktask{
    margin: 0px;
    margin-left: 276px;
    width: 1275px;
    height: 721px;
    position: absolute;
    background-color: #2F4050;
    /* background-color: cornflowerblue; */
    /* width: 500em;
    height: 58em; */
    /* background-color: burlywood; */
   
}

.blockwhitetask{
    height: 693px; 
    display: block;
    width: 1247px;
    background-color: white;
    /* background-color: aqua; */
    margin-left: 14px;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-right: 14px;
    position: absolute;
    border-radius: 25px;
}
.Topname-mygroup{
    margin-top: 28px;
    margin-left: 48px;
    font-family: SF Pro Display;
    font-size: 32px;
    font-weight: bold;
    color: #2F4050;
}

hr.hr-mygroup{
    /* color: #134F71; */
    /* justify-items: center; */
    width: 1151px;
    margin-top: 12px;
    border-top: 1px solid rgba(229, 229, 229, 1);
    margin-bottom: 0px;
    margin-left: 48px;
}

.name-mygroup{
    margin-top: 28px;
    margin-left: 68px;
    font-family: SF Pro Display;
    font-size: 20px;
    font-weight: bold;
    color: #2F4050;
}

.manypeople{
    /* margin-top: 14px; */
    /* margin-left: 68px; */
    font-family: SF Pro Display;
    font-size: 14px;
    /* font-weight: bold; */
    color: #2F4050;
}

.blockmem-img.row{
    margin-top: 14px;
    margin-left: 68px;
    width: 346px;
    height: 40px;
}

.picpro{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-radius: 50px;
}

div.blockinblock{
    width: 1111px;
    height: 450px;
    background-color:  #F3F9FC; 
    display: block;
    margin-left: 68px;
    margin-top: 14px;
    border-radius: 10px;
}

#input.exampleFormControlFile1{
    margin-top: 10px;
}